body{
    font-family: 'Inter', sans-serif;
    font-size:14px;
    background-color: #fff;
    box-sizing: border-box;
}

img{
    width: 150px;

}

.title{
margin-left: 180px;
margin-top: -45px;
font-size: 20px;
font-weight:900 ;
}

.contener{
    width: 800px;
    position: relative;
    border:solid 1px;
    padding: 20px;
    margin:auto;
    }

input{
    margin-left: 100px;
}

.content{
    position: relative;
    top: -150px;
    
}
.no_space{
    margin-left: 1em;
}

input[type=number]{
    width: 100px;
    margin-left: 0;
}
.to_right{
    text-align: end;
    line-height: 50px;
}
.label_tn{
    position: absolute;
    right: 448px;
    top: 318px;
}
.sign{
    position: absolute;
    right: 50px;
    top: 318px;
}
.sign_kad{
    position: absolute;
    right: 50px;
    top: 430px;
}
.sign_prz{
    position: absolute;
    right: 50px;
    top: 556px;
}

@media print{
#druk, #cleaner{
display:none;  
}
* {
-webkit-print-color-adjust: exact !important;  
print-color-adjust: exact !important;                 
}
}
