body{
    font-family: 'Inter', sans-serif;
    font-size:14px;
    background-color: #fff;
    box-sizing: border-box;
}

img{
    width: 150px;

}

.title{
margin-left: 180px;
margin-top: -45px;
font-size: 20px;
font-weight:900 ;
}

.contener{
    width: 800px;
    position: relative;
    border:solid 1px;
    padding: 20px;
    padding-bottom: 10px;
    margin:auto;
    }

input{
    margin-left: 100px;
}

.content{
    position: relative;
    top: -150px;
    
}
.no_space{
    margin-left: 1em;
}

input[type=number]{
    width: 100px;
    margin-left: 0;
}
.to_right{
    text-align: end;
}
.label_tn{
    font-size: 12px;
    position: absolute;
    right: 440px;
    top: 315px;
}
.sign{
    font-size: 12px;
    position: absolute;
    right: 50px;
    top: 315px;
}
.sign_kad{
    font-size: 12px;
    position: absolute;
    right: 50px;
    top: 440px;
}
.sign_prz{
    font-size: 12px;
    position: absolute;
    right: 50px;
    top: 546px;
}
.kadry{
    position: relative;
    bottom: -20px;
}
#write, #druk{
    position: absolute;
    right:50px;
    top:20px;
    padding: 10px;
    font-weight: 900;
}
.ins_dys{
    margin-left: 100px;
    font-weight: 900;
}
.ins{
    font-weight: 600;
}
.to_r{
    position: absolute;
    right: 20px;
}
.norm{
    line-height: 22px;
}
.width{
    line-height: 30px;
    text-align: end;
}
.space{
    margin-left: 25px;
    margin-right: 25px;
    font-weight: 600;
}

@media print{
#druk {
display:none;  
}
* {
-webkit-print-color-adjust: exact !important;  
print-color-adjust: exact !important;                 
}
}
